
CREATE OR REPLACE FUNCTION public.get_top_incident_types(limit_count integer)
RETURNS TABLE (incident_type text, count bigint) 
LANGUAGE SQL
AS 
  SELECT incident_type::text, COUNT(*) as count
  FROM incidents
  WHERE incident_type IS NOT NULL
  GROUP BY incident_type
  ORDER BY count DESC
  LIMIT limit_count;
;
